<% if @painel %>
  <h3 class="text-center">Regulamento do Consumidor para o Programa ConsumerCard</h3><br>
<% end %>

<div style="max-height: 400px; overflow-y: scroll; padding: 0 15px; margin: 10px 0;">
  <p>CONSUMER CARD SERVIÇOS ADMINISTRATIVOS LTDA - ME,  empresa com sede na Cidade de Erechim, Estado do Rio Grande do Sul, na Rua Aratiba,  629, sala 101 - Centro, inscrita no CNPJ/MF sob o n.º 19.515.763/0001-01,  doravante denominada simplesmente ConsumerCard, com base no presente  Regulamento, institui o Programa de Fidelidade ConsumerCard, conforme os termos,  cláusulas e condições a seguir estipuladas.</p>

  <p>1.ConsumerCard </p>

  <p>1.1 O ConsumerCard é um Programa de Fidelidade dirigido  a seus Participantes, a vigorar por prazo indeterminado, que permite ao Participante  do programa o acúmulo de Bônus e Pontos a partir do consumo em moeda corrente  nacional de produtos e serviços nos Estabelecimentos Credenciados pela ConsumerCard  e por indicações de novos participantes no Programa. Os bônus acumulados serão  utilizados como resgate para compras na aquisição de produtos e serviços. Os pontos  obtidos serão utilizados para a solicitação de prêmios, de acordo com este  regulamento.</p>

  <p>1.2 A adesão e a permanência ao ConsumerCard  são de livre e espontânea vontade, não exigindo em nenhuma hipótese a obrigatoriedade de  indicação de pessoas por parte de seus Participantes. A ConsumerCard não pode  se responsabilizar por quaisquer despesas decorrentes de indicações e/ou  divulgação do Programa.</p>

  <p>1.3 O Programa ConsumerCard é válido para compras,  resgates e indicações somente na Cidade de Consumo que consta no cadastro de  adesão de cada Participante.</p>

  <p>2. Participação  no Programa </p>

  <p>2.1 O consumidor  que desejar ter acesso a todos os benefícios deverá fazer o seu cadastro  completo através do site www.consumercard.net. O pagamento antecipado da  anuidade garante a participação e o acesso a todas as vantagens oferecidas pelo  ConsumerCard.</p>

  <p>2.2 O e-mail  cadastrado no Programa ConsumerCard deverá ser de titularidade do Participante  não podendo ser utilizado por outro Participante.</p>

  <p>2.3 Uma  vez concluído o cadastro no site, o Participante receberá uma comunicação via  e-mail com o link para confirmação online de sua inscrição.</p>

  <p>2.4 A  senha cadastrada poderá ser alterada pelo Participante, a qualquer tempo, no  site do programa, onde poderá igualmente consultar seu saldo e as informações  disponíveis relativas à sua conta.</p>

  <p>2.5 Ao  realizar o cadastro, o Participante deverá necessariamente optar pela cidade  onde deseja se cadastrar, denominada Cidade de Consumo, dentre as disponíveis  no site no momento do cadastro. É facultado ao Participante escolher a Cidade  de Consumo que desejar, mesmo que seja diferente do seu município de domicílio.</p>

  <p>2.6 O programa ConsumerCard oferece dois tipos de  adesão ao sistema: ConsumerCard, com o custo anual de R$ 148,00 (Cento e  quarenta e oito reais) e o ConsumerCard Advanced com o custo anual de R$ 296,00  (Duzentos e noventa e seis reais).</p>

  <p>2.7 O objetivo da Rede ConsumerCard é proporcionar  vantagens para os consumidores de produtos e serviços de natureza lícita, para  tanto, o cartão ConsumerCard é indicado para pessoas que possuam um consumo  mensal de até R$800,00 (Oitocentos reais). O cartão ConsumerCard Advanced é  indicado para pessoas que possuam um consumo mensal acima de R$800,00 (Oitocentos  reais).</p>

  <p>2.8  Para adquirir o cartão, o pagamento da anuidade deve ser realizado através de  boleto bancário ou cartão de crédito. O boleto é gerado através do site www.consumercard.net e enviado via  e-mail, e o pagamento através de cartão de crédito será feito pelo sistema  PagSeguro via internet. Através do cartão de crédito pode-se parcelar conforme  as normas próprias de cada operadora.</p>

  <p>2.9  No prazo de até 07 (sete) dias úteis após a confirmação do pagamento da  anuidade, o cartão ConsumerCard será enviado ao Participante no endereço  cadastrado.</p>

  <p>2.10  A adesão ao Programa ConsumerCard deve ser realizada somente através do site e  será confirmada via mensagem SMS e/ou e-mail. Somente uma adesão por número de  CPF será permitida.</p>

  <p>2.11  A adesão ao Programa de Fidelidade ConsumerCard  não estabelece nenhum vinculo empregatício de qualquer natureza, seja,  trabalhista, societária, representação comercial, associação ou qualquer outra  relação de subordinação entre as partes.</p>

  <p>2.12 Em caso de perda, roubo ou extravio do cartão, o  Participante deverá solicitar imediatamente a segunda via de seu cartão através  do site do programa. O custo para emissão será de R$12,00 (Doze reais). </p>
  <p>3. Quem pode  adquirir </p>

  <p>3.1 O consumidor interessado em participar do Programa  deverá ser pessoa física e maior de 18 (dezoito) anos, que aceite os termos  deste regulamento e a política do Programa de Fidelidade ConsumerCard.</p>

  <p>4. Como  funciona</p>

  <p>4.1 O Participante que anuir ao Programa poderá  acumular bônus através das suas próprias compras, bônus e pontos através da  indicação de outros participantes e bônus através das compras dos participantes  indicados, conforme descrito neste regulamento.</p>

  <p>4.2 O Participante da modalidade ConsumerCard que  indicar amigos para participar do programa receberá Bônus de Indicação no valor  de R$ 40,00 (Quarenta reais) por cada indicação. Ao Participante da modalidade ConsumerCard  Advanced ao indicar um novo participante que efetivar adesão na modalidade ConsumerCard,  receberá Bônus de Indicação no valor de R$ 40,00 (Quarenta reais) e aos  efetivados na modalidade ConsumerCard Advanced, o indicador receberá Bônus de  Indicação no valor de R$ 90,00 (Noventa reais). O valor será creditado para o Participante  Indicador em até 05 (cinco) dias úteis após a confirmação do pagamento da  anuidade realizada pelo novo Participante.</p>

  <p>4.2.1 A bonificação será creditada no ConsumerCard ou ConsumerCard  Advanced do Participante em moeda corrente nacional que poderá ser resgatada  apenas por produtos ou serviços nos Estabelecimentos Credenciados. </p>

  <p>4.3  Além do valor conquistado por cada indicação efetivada, o Participante ConsumerCard  recebe ainda o Bônus de Compra de Indicado relativo ao valor das compras do Participante  Indicado, que serão creditados em até 05 (cinco) dias úteis do mês subsequente  às compras. Para ter direito a receber este bônus, o Participante Indicador  deverá ter realizado compras através do cartão ConsumerCard no valor mínimo de  R$ 500,00 (Quinhentos reais) durante o mês anterior ao que receberá a  bonificação.</p>

  <p>4.4  O percentual do Bônus de Compra de Indicado sofre variações dependendo do  parceiro lojista onde é realizada a compra. A listagem completa dos estabelecimentos  conveniados e o Bônus de Compra de Indicado a ser revertido estão disponíveis  no site www.consumercard.net.</p>

  <p>4.5  Em cada indicação efetivada através do pagamento da anuidade, o Participante ConsumerCard  acumula Pontos de Indicação que poderão ser utilizados para solicitar prêmios,  conforme relação de Prêmios disponível no site. A distribuição dos Pontos de  Indicação se dará da seguinte forma: os Participantes da modalidade ConsumerCard  ao indicarem um novo participante tanto na modalidade ConsumerCard como na  modalidade ConsumerCard Advanced receberão 1 (um) ponto para cada novo Participante;  os Participantes da modalidade ConsumerCard Advanced que indicarem um novo  Participante na modalidade ConsumerCard receberão 1 (um) ponto e indicando um  novo Participante na modalidade ConsumerCard Advanced, o Participante Indicador  receberá 2 (dois) Pontos de Indicação.</p>

  <p>4.6  As indicações que bonificam o Participante do ConsumerCard não são obrigatórias  de serem realizadas. O usuário do cartão pode apenas utilizá-lo para adquirir vantagens  nos Estabelecimentos Credenciados.</p>

  <p>4.7  Os valores acumulados nos cartões ConsumerCard e ConsumerCard Advanced são  válidos por tempo indeterminado, desde que o Participante mantenha em dia o  pagamento da taxa de anuidade.</p>

  <p>4.8  Em caso de não renovação da anuidade em até 90 (noventa) dias após a data de  vencimento, o usuário poderá, durante este período, resgatar os bônus acumulados  e/ou solicitar os Prêmios através dos Pontos de Indicação acumulados. Após este  período, o Participante estará automaticamente desligado do Programa de  Fidelidade ConsumerCard, perdendo toda a bonificação e pontuação que tiver  acumulado durante a sua permanência no programa, sendo descabidos quaisquer  pedidos de devolução de bônus e/ou  pontos.</p>

  <p>4.9  Os acúmulos de todos os tipos de bônus e pontos somente serão realizados  durante a vigência da anuidade de cada Participante.</p>

  <p>4.10  Se o Participante Indicado realizar o pagamento da renovação da taxa de  anuidade no prazo de até 90 (noventa) dias após o seu vencimento, o  Participante que o indicou receberá novamente o valor relativo ao Bônus de  Indicação e os Pontos de Indicação. Se passado esse prazo, o indicado não  efetuar a sua renovação, ele estará automaticamente afastado do Programa.</p>

  <p>4.11  O Participante que aderir ao Programa ConsumerCard sem ser indicado por outro  Participante, não terá de maneira alguma um Participante Indicador quando  renovar sua anuidade. </p>

  <p>5.Acúmulo de bônus </p>

  <p>5.1 Após  completar seu cadastro no site www.consumercard.net e efetivar a adesão através do  pagamento da taxa de anuidade, o Participante terá acesso ao seu extrato, que  ficará disponível no site permanentemente.</p>

  <p>5.2  O acúmulo dos Bônus de Compra Própria será realizado mediante apresentação do  cartão ConsumerCard ou ConsumerCard Advanced ou CPF acompanhados por documento  de identificação com foto do Participante no momento do consumo, quando realizará o pagamento  do produto ou serviço ao Estabelecimento Credenciado.</p>

  <p>5.3 É de  responsabilidade do Estabelecimento Credenciado, no ato do pagamento da compra,  realizar o acúmulo dos bônus relativos à transação através do sistema ConsumerCard.  Para confirmar que os bônus foram computados, o Participante receberá a  confirmação através de mensagem SMS e/ou e-mail, após a sua efetivação.</p>

  <p>5.4 Em  caso de ocorrer qualquer irregularidade na bonificação referente à sua última  compra, o Participante deverá manifestar-se imediatamente após ter recebido a  mensagem SMS ou e-mail. O Participante deverá informar ao Estabelecimento  Credenciado para que seja feita a correção adequada. Em nenhuma hipótese  poderão ocorrer bonificações de forma retroativa.</p>

  <p>5.5 O  acúmulo dos Bônus de Compra Própria estará limitado no valor de R$ 999,99 (Novecentos  e noventa e nove reais e noventa e nove centavos) por transação. Para realizar  compras acima desse valor sem perda dos Bônus de Compra Própria, o Estabelecimento  Credenciado deverá fazer um novo registro de acúmulo de bônus.</p>

  <p>5.6 O  percentual da compra a ser revertido em Bônus de Compra Própria poderá sofrer  variação dependendo dos diferentes meios de pagamento realizado. Os percentuais  referentes a pagamentos em dinheiro em espécie e demais formas de pagamento,  serão disponibilizados para consulta no site ConsumerCard.</p>

  <p>5.7 No caso de a compra ser efetuada mediante  pagamento parcelado, o Bônus de Compra Própria será creditado ao Participante  na medida em que forem efetuados os pagamentos das parcelas, à exceção da  compra parcelada feita através de cartão de crédito, quando se considerará o  pagamento como sendo efetuado à vista.</p>

  <p>5.8 A administração do ConsumerCard poderá, a  qualquer momento, e a seu exclusivo critério, modificar os percentuais de acúmulo de bônus, formas de cálculo e normas de credenciamento  dos Estabelecimentos Credenciados. Os novos valores, porcentagens e  estabelecimentos serão informados através do site www.consumercard.net e em  outros canais de comunicação de acesso ao público que a administração do cartão  achar conveniente com antecedência mínima de 05 (cinco) dias a ser implementada  a alteração.</p>

  <p>5.9 Na eventualidade de ocorrer qualquer interrupção  temporária  do sistema que efetiva o crédito, o Estabelecimento Credenciado realizará o  lançamento manual dos Bônus de Compra Própria em formulário destinado para este  fim, em 2 (duas) vias, sendo a segunda via entregue ao Participante para seu  próprio controle da bonificação. Normalizando a conexão com o sistema ConsumerCard,  é de responsabilidade do Estabelecimento Credenciado registrar os Bônus de  Compra Própria relativos no sistema ConsumerCard em até 10 (dez) dias úteis  após a compra.</p>

  <p>5.10  Possíveis problemas de registro de informações e eventuais erros de cálculos  ocasionados por falhas no sistema ConsumerCard que forem percebidos pelos  Participantes, deverão ser imediatamente comunicados através da área Fale  Conosco do site www.consumercard.net para que sejam tomadas as  devidas providências.</p>

  <p>5.11 É  vedado ao Participante transferir ou alienar os bônus acumulados.</p>

  <p>5.12 O Participante  fica desde já ciente de que não poderá acumular bônus se não for o responsável  pela compra e se não fornecer o seu cartão ConsumerCard ou seu CPF no ato da  transação. Para fins de registro do acúmulo de bônus, é facultado ao  funcionário do estabelecimento onde a compra tenha sido realizada, requisitar  documento de identificação com foto do Participante.</p>

  <p>6. Resgate de bônus </p>

  <p>6.1  O resgate dos bônus junto a rede de Estabelecimentos Credenciados poderá ser  realizado a qualquer tempo durante a vigência do Programa de Fidelidade ConsumerCard,  desde que o Participante tenha a quantidade de bônus necessária para efetuar o  pagamento parcial ou integral de sua compra e apresente seu ConsumerCard,  documento de identificação com foto e digite suasenha no sistema quando solicitado.</p>

  <p>6.1.1  O resgate dos bônus será feito sempre em moeda corrente nacional, na troca por  produtos ou serviços oferecidos pelo Estabelecimento Credenciado.</p>

  <p>6.1.2  É permitida a utilização fracionada dos bônus no ato da compra, ficando o  restante dos bônus disponíveis no ConsumerCard, a critério do Participante.</p>

  <p>6.1.3 O  resgate de bônus não poderá ser efetuado em caso do sistema estar inativo ou  inacessível ao Estabelecimento Credenciado.</p>

  <p>6.1.4 O  consumidor reconhece que, diante das características dos sistemas eletrônicos,  mesmo com a utilização das melhores tecnologias disponíveis, podem ocorrer  instabilidades que impeçam, momentaneamente, o resgate de bônus do ConsumerCard.  Em razão disto, o Participante deverá ter disponível uma forma de pagamento  alternativa para utilização em caso de falha operacional ou instabilidade do  sistema.</p>
  <p>7. Solicitação de prêmios </p>

  <p>7.1 A  relação dos Prêmios está disponível para visualização no site www.consumercard.net.</p>

  <p>7.2 Os Prêmios  que constam na listagem do site têm caráter meramente ilustrativo e não representam a perene disponibilidade do produto em estoque  ou serviço. A administração do ConsumerCard não se responsabiliza caso algum  produto indicado seja retirado de linha ou não seja encontrado no mercado.</p>

  <p>7.3 Em  caso de descontinuidade da oferta de um determinado prêmio, o mesmo será  substituído por outro similar ou superior ao anterior.</p>

  <p>7.4 Para solicitar  os prêmios através dos Pontos de Indicação, o Participante deverá ter realizado  um consumo médio mensal de no mínimo R$ 300,00 (Trezentos reais) nos últimos  180 (Cento e oitenta) dias da data do resgate pretendido. Em caso de não acontecer  este consumo mínimo, os Pontos de Indicação ficarão bloqueados para solicitação  até que o Participante alcance a média mensal estipulada através de novas  compras. No caso do Participante desejar solicitar os prêmios antes do prazo de  180 (Cento e oitenta) dias, o cálculo da média será feito desta forma: valor  das compras no período, dividido pelo número de dias, multiplicado por 30  (trinta). O resultado desta operação deve ser igual ou superior a R$ 300,00  (Trezentos reais).</p>

  <p>7.5 A  distribuição dos prêmios conquistados através do acúmulo de Pontos de Indicação  se dará da seguinte forma: ao atingir a quantidade de pontos necessária em cada  categoria, automaticamente o Participante terá o direito de fazer a solicitação  de um prêmio, à sua escolha, naquela categoria. Ao alcançar a pontuação da  categoria seguinte, obterá a prerrogativa de solicitar um prêmio daquela  categoria e assim sucessivamente.</p>

  <p>7.5.1 O  Participante poderá solicitar apenas um prêmio por categoria de pontuação, não  sendo possível, nem plausível, sob nenhuma circunstância, a solicitação de  quantidade superior a esta.</p>

  <p>7.6 As  categorias constantes do Programa ConsumerCard são as seguintes: Consumidor Bronze,  alcançada ao atingir a quantidade de 10 (dez) pontos; Consumidor Silver, alcançada  ao atingir a quantidade de 50 (cinquenta) pontos; Consumidor Gold, alcançada ao  atingir a quantidade de 100 (cem) pontos; Consumidor Platinum, alcançada ao  atingir a quantidade de 200 (duzentos) pontos; Consumidor Ruby, alcançada ao  atingir a quantidade de 400 (quatrocentos) pontos; e Consumidor Diamond,  alcançada ao atingir a quantidade de 800 (oitocentos) pontos.</p>

  <p>7.7 A  administração do ConsumerCard poderá, a seu exclusivo critério, suspender ou  rescindir contratos com parceiros de produtos ou serviços constantes sem prévio  aviso.</p>

  <p>8. Entrega dos prêmios</p>

  <p>8.1 A  entrega dos prêmios será feita via Correios ou transportadora que atue no  mercado nacional, em até 60 (sessenta) dias a contar da data da solicitação.</p>

  <p>8.2 O  envio dos Prêmios será feito para o endereço indicado no cadastro do usuário. A  administração do ConsumerCard não se responsabiliza por entregas realizadas em  endereços incorretos ou incompletos fornecidos pelo Participante.</p>

  <p>8.3 As  especificações, a qualidade e a garantia dos Prêmios são de inteira e exclusiva  responsabilidade dos respectivos parceiros. Deverá o Participante guardar os  certificados de garantia e a nota fiscal dos produtos para troca em caso de  defeitos, mau funcionamento ou para eventual assistência técnica no prazo de  garantia fixado pelos parceiros.</p>

  <p>8.3.1 Os  parceiros são responsáveis pelas trocas, estoques, qualidade e reposição dos  produtos, observadas as formas e prazos previstos na legislação civil e do  consumidor em vigor.</p>

  <p>8.4 Todos  os tributos relativos aos prêmios selecionados e recebidos pelos Participantes através  dos Pontos de Indicação, correrão por conta e responsabilidade exclusiva do  Participante.</p>

  <p>9. Cadastro </p>

  <p>9.1 O Participante  se obriga a manter atualizados seus dados cadastrais junto ao Programa ConsumerCard,  em especial para o recebimento de produtos e comunicações sobre o Programa.</p>

  <p>9.2 Ao  aderir ao Programa, efetuando seu cadastro, o Participante afirma concordar  integralmente com todos os termos e condições deste Regulamento, sem ressalvas,  inclusive com o recebimento de mensagens via SMS e e-mails do ConsumerCard  relativos à sua participação no programa. O Participante também concorda em  receber mensagens promocionais via SMS e e-mails dos parceiros credenciados do ConsumerCard.  Caso seja de interesse do Participante cessar o recebimento das  mensagens promocionais dos parceiros, este poderá, a qualquer tempo, solicitar  o imediato cancelamento do seu recebimento através do link Fale Conosco do site www.consumercard.net.</p>

  <p>9.3 É de inteira responsabilidade do Participante o correto  preenchimento e a veracidade dos dados apresentados no cadastro.</p>

  <p>9.4 Para aderir ao ConsumerCard como Participante Indicado, o  usuário terá que necessariamente fazer o cadastro a partir do e-mail enviado  pelo Participante Indicador. Nesse e-mail, o Participante Indicado deverá  clicar no link correspondente que o enviará ao formulário de cadastro no site www.consumercard.net,  onde, no campo adequado estará indicado o nome do Participante Indicador ao  qual ele será vinculado. Caso o Participante Indicado não conferir essa  informação no momento do cadastro, o Participante Indicador não receberá os Bônus  de Indicação, Bônus de Compra de Indicado e os Pontos de Indicação, isentando a  ConsumerCard de qualquer culpabilidade pelo preenchimento incorreto e não mais  cabendo futuras alterações de cadastro ou acúmulo de Bônus de Indicação, Bônus  de Compra de Indicado e Pontos de Indicação relativas a este Participante, sob  nenhuma hipótese.</p>

  <p>9.5 Os dados fornecidos pelos Participantes para  aderir ao Programa serão mantidos em sigilo e integrará o banco de dados da  administração do ConsumerCard, podendo, no  entanto, ser compartilhados com os parceiros da ConsumerCard para que estes  possam promover e oferecer promoções, bens e serviços.</p>

  <p>10. Condições Gerais </p>

  <p>10.1 A  adesão ao Programa ConsumerCard ou o resgate dos bônus na forma de produtos ou  serviços, na forma prevista neste Regulamento, pelo Participante, implica na  aceitação total das condições descritas neste Regulamento, que será  disponibilizado para consulta no site <u>www.consumercard.net</u>.  O Participante também poderá esclarecer eventuais dúvidas sobre o programa no link  Fale Conosco do site.</p>

  <p>10.2 Os bônus  e pontos creditados ao Participante não poderão ser convertidos em dinheiro ou  valores de qualquer outra espécie, os quais possuem caráter pessoal,  inegociável e intransferível, sendo vedada qualquer forma de cessão ou  transferência pelo Participante, a qualquer tempo e título, a terceiros,  sucessores ou herdeiros.</p>

  <p>10.3 A ConsumerCard  reserva-se ao direito de alterar, suspender ou mesmo encerrar o Programa e  divulgar as informações no site www.consumercard.net e em outros canais de fácil  acesso público que julgar necessário, com antecedência de 30 (trinta) dias.</p>

  <p>10.4 Os  valores relativos ao ingresso no Programa e obtidos através da indicação de  novos participantes poderão ser alterados pela ConsumerCard com prévia  comunicação através do seu site no prazo mínimo de 30 (trinta) dias.</p>

  <p>10.5 Será  excluído do Programa e perderá o direito aos seus créditos e pontos acumulados,  o Participante que tenha prestado informações ou declarações falsas.</p>

  <p>10.6 É de exclusiva responsabilidade do Participante,  guardar os documentos fiscais originais das compras efetuadas nos  Estabelecimentos. Através deles o Participante deverá verificar os lançamentos  dos bônus no seu ConsumerCard. </p>

  <p>10.7 Todas  as operações registradas no ConsumerCard serão enviadas através de mensagens  SMS e/ou e-mail, comprovando a realização das mesmas.</p>

  <p>10.8 O  Participante deverá conferir o recebimento das mensagens SMS e e-mails,  verificando e agindo para que os mesmos não sejam bloqueados por serviços  provedores de internet nem sejam classificados como SPAM, ocasionando o não  recebimento dos mesmos.</p>

  <p>10.9 A renovação  da anuidade do ConsumerCard não é feita automaticamente, devendo o Participante  pagar através do site, o valor correspondente, que deverá acontecer em até 90  (Noventa dias) após o vencimento da anuidade do exercício anterior.</p>

  <p>10.9.1 Na  renovação da anuidade, o Participante poderá optar por manter o mesmo plano ou  alterar por outro plano que desejar. </p>

  <p>10.10 Em  caso de perda involuntária do backup de dados, o ConsumerCard reserva-se o período  de 30 (trinta) dias para restabelecer as contas dos Participantes, sem  acarretar em prejuízo da bonificação existente previamente.</p>

  <p>11. Condições de utilização </p>

  <p>11.1 A  senha de acesso ao programa ConsumerCard é pessoal e intransferível, sendo sua  utilização de inteira responsabilidade do Participante que, por segurança, não  deverá revelar a terceiros.</p>

  <p>11.2 É de  inteira responsabilidade do Participante a veracidade e a atualização dos dados  cadastrais informados ao Programa ConsumerCard. É facultado a ConsumerCard  solicitar, a seu critério, o envio de documentação que comprove os dados  fornecidos pelo Participante, não sendo, todavia, responsável  por eventuais perdas ou atrasos das correspondências.</p>

  <p>11.3 A  identificação do Participante no programa será feita através do Cartão ConsumerCard  ou CPF e documento com foto. O Participante deverá fornecer estes documentos  sempre que desejar acumular ou resgatar bônus nos Estabelecimentos Credenciados.</p>

  <p>11.4 É  vedado ao Participante qualquer tipo de comercialização de créditos ou produtos  adquiridos pelo Programa de Fidelidade ConsumerCard, sob pena de serem tomadas  as medidas judiciais cabíveis.</p>

  <p>11.5 No  caso de não cumprimento deste Regulamento por parte do Participante, a ConsumerCard  se reserva ao direito de suspender ou cancelar a respectiva conta no Programa de  Fidelidade ConsumerCard em caráter temporário (para verificação) ou em  definitivo, como também não mais aceitar que o infrator utilize os benefícios  oferecidos pelo Programa.</p>

  <p>11.6 A  administração do ConsumerCard reserva-se ao direito de, a qualquer momento,  efetuar eventuais alterações ao presente Regulamento, que venham a ser  necessárias à execução do presente Programa, e para tanto, comunicará os Participantes  com 05 (cinco) dias de antecedência.</p>

  <p>11.7 O Participante  poderá, a qualquer tempo, cancelar sua participação no Programa de Fidelidade ConsumerCard,  mediante solicitação via Fale Conosco no site www.consumercard.net, hipótese em que serão anulados  todos os créditos e pontos lançados em seu nome no Programa ConsumerCard.</p>

  <p>11.7.1 O  valor relativo à taxa de anuidade paga pelo Participante quando de sua adesão  ao Programa não será reembolsado de nenhuma forma, nem integral, nem  proporcionalmente.</p>

  <p>11.8 O Programa de Fidelidade ConsumerCard  tem validade por tempo indeterminado, nos  termos do Capitulo I. Entretanto, a ConsumerCard reserva-se ao direito de, a  qualquer momento, suspender ou encerrar o Programa, garantindo aos clientes o  direito de resgatar os bônus acumulados até 30 (trinta) dias anteriores à data  final designada para o término do Programa. Após este período, os bônus serão  cancelados, perdendo definitivamente sua validade. </p>

  <p>12. Disposições Finais </p>

  <p>12.1 Serão  automaticamente excluídos do Programa os Participantes que tentarem  desrespeitar qualquer dos itens deste Regulamento, ou ainda, utilizarem  quaisquer meios ilícitos para obter benefícios para si ou para terceiros.</p>

  <p>12.2 Tendo em vista as  características inerentes ao ambiente da Internet, a ConsumerCard não pode  garantir que o acesso ao site do Programa esteja livre de invasões,  interrupções ou suspensões, não sujeitas ao seu controle, se eximindo de  qualquer responsabilidade proveniente de tais fatos e/ou atos, o mesmo  ocorrendo nas hipóteses de força maior ou caso fortuito.</p>

  <p>12.2.1 Na hipótese de  ocorrência de interrupções de qualquer gênero no sistema, durante o período de  vigência do Programa ou eventual promoção a ele vinculada, a ConsumerCard não  ficará obrigada a prorrogar nenhum prazo, dando-se por terminada qualquer  promoção no prazo originalmente veiculado, salvo decisão em contrário a  exclusivo critério da ConsumerCard.</p>

  <p>12.2.2 Reconhece o  Participante que, dada à peculiaridade do uso de sistema no ambiente da  Internet, com rigorosa proteção e sigilo no tráfego de informações, terceiros  de má-fé poderão remotamente tentar utilizar-se de subterfúgios tecnológicos a  fim de terem acesso a dados pessoais do Participante ou a fraudar o Programa e,  para este fim, igualmente isenta a ConsumerCard de qualquer responsabilidade  correlata.</p>

  <p>12.3 O  Participante autoriza desde já o uso gratuito de sua imagem e voz em qualquer  tipo de mídia, incluindo internet, e peças promocionais para fins de divulgação  de eventuais premiações recebidas no âmbito do Programa, sem qualquer ônus para  a ConsumerCard.</p>

  <p>13. Foro </p>

  <p>13.1 Para  dirimir quaisquer dúvidas oriundas desse regulamento, fica eleito o foro do  domicílio do Participante.</p>

  <p>14. Registro e Vigência </p>

  <p>14.1 O  presente regulamento entra em vigor na data de seu registro junto a um dos  Cartórios de Ofício de Registro de Títulos e Documentos do local da sede da  Administração do Programa de Fidelidade ConsumerCard.</p>

  <p>14.2 A  administração do ConsumerCard poderá introduzir alterações nas condições e  cláusulas, ampliar os benefícios ou agregar-lhe outros serviços e produtos  mediante registro em Cartório de Títulos e Documentos, dando publicidade a tais  atos e efetuando comunicação prévia ao Participante, por escrito, através de  correspondência ou por seus canais de comunicação eletrônicos ora disponíveis  ou que venham a ser criados para tais fins.</p>

  <p>CONSUMER CARD SERVIÇOS ADMINISTRATIVOS LTDA – ME.</p>

  <p>Este regulamento entra em vigor em 14 de Maio de  2014 sob o nº 45377, registrado junto ao Cartório de Ofício de Registro de  Títulos e Documentos de Erechim.</p>
</div>