<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1 class="txtDourado titulo">Política de Privacidade</h1>

      <p>Este instrumento define a maneira pela qual a ConsumerCard trabalhará as informações pessoais obtidas junto aos seus usuários cadastrados. O preenchimento do cadastro implica em aceitação do conteúdo abaixo especificado.</p>

      <p>Ao se cadastrar no site da ConsumerCard (www.consumercard.net), você fornecerá voluntariamente algumas informações pessoais como nome, endereço, email, telefone e outros dados para identificação.</p>

      <p>A ConsumerCard irá armazenar informações sobre a maneira pela qual você interage com o site na forma de cookies, que são pequenos arquivos colocados em seu computador e que facilitam a sua identificação sempre que você visita o site. Cookies permitem, por exemplo, que seu login e sua senha sejam identificados a cada vez que você acessa o site, eliminando o trabalho de redigitá-los. Através dos cookies, a ConsumerCard poderá também monitorar a visitação de cada usuário no site, identificando as seções mais visitadas, o tempo gasto em cada seção, a seqüência de páginas visitadas e os horários de visitação, por exemplo, possibilitando conhecer melhor seus usuários e, com isto, efetuar aperfeiçoamentos no site.</p>

      <p>A ConsumerCard não comercializará, alugará ou cederá a terceiros quaisquer informações pessoais obtidas através de seu site.</p>

      <p>A ConsumerCard poderá, no entanto, utilizar e repassar a terceiros dados genéricos compilados, relativos a grupos de usuários. Por exemplo, a partir da compilação dos cadastros individuais, poderá dizer que "x" % dos usuários são de Erechim, ou que há "y" usuários de Erechim cadastrados no site, mas nunca será disponibilizada a listagem dos nomes individuais dos cadastrados de Erechim. </p>

      <p>Os servidores da ConsumerCard estão localizados em ambiente seguro e dispõem de tecnologia e sistemas de segurança planejados de forma a evitar interferências ilícitas. Apesar disto, em hipótese alguma, a ConsumerCard poderá ser responsabilizada pela ação ilegal de terceiros que venham a ter acesso ou distorcer informações disponíveis no site ou fornecidas pelos seus afiliados.</p>
    </div>
  </div>
</div>