<p>Olá <strong><%= @pagamento.origem.nome %></strong>,</p>
<p>O sistema ConsumerCard gerou um boleto de cobrança da segunda via do cartão.</p>
<p>
  <strong>Valor:</strong>
  <%= Dinheiro.new(@pagamento.valor).real_formatado %>
</p>

<p>
  <strong>Data/Hora de Emissão:</strong>
  <%= @pagamento.created_at.to_s_br %>
</p>

<p>
  <strong>Data de Vencimento:</strong>
  <%= @pagamento.data_vencimento.to_s_br %>
</p>

<p>Segue, em anexo, o boleto.</p>