<h3 class="nome_usuario">
<% if current_cliente_user.tipo_atual %>
  <small><i class="glyphicon glyphicon-user"></i> <%= current_cliente_user.tipo_atual.descricao %></small><br>
<% end %>
<%= saudacao(current_cliente_user) %>, <%= current_cliente_user.nome.split(" ")[0] %>
</h3>
