<div class="col-xs-6 col-md-3">
  <div class="thumbnail">
    <%= image_tag premio.imagem.url, alt: premio.descricao, title: premio.descricao %>
    <div class="caption">
      <h5 class="text-center"><%= premio.descricao %></h5>
      <%= link_to "Ver mais informações", new_resgate_path(premio.id), class: "btn btn-primary col-md-12" %>
    </div>
  </div>
</div>