<div class="container">
  <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="col-md-6">
          <%= image_tag "frontend/sobre.jpg", alt: "Quem Somos", class: "img-responsive", style: "padding-top: 30px" %>
        </div>
        <div class="col-md-6">
          <h1 class="txtDourado titulo">QUEM SOMOS</h1>
          <p class="text-left">O ConsumerCard é um programa de fidelidade dirigido a seus participantes, que permite o acúmulo de bônus e pontos a partir do consumo em moeda corrente nacional de produtos e serviços nos estabelecimentos credenciados pela Rede de Consumo Inteligente ConsumerCard e por indicações de novos participantes no programa. Os bônus acumulados são utilizados como resgate nas futuras compras de produtos e serviços. Os pontos obtidos são utilizados para a solicitação de prêmios sem sorteio.</p>
          <%= image_tag "frontend/iconeVideo.png", alt: "Vídeo explicativo", style: "width: 30px; margin-right: 10px" %>
          <span style="font-size: 13px; cursor: pointer" onclick="javascript:document.getElementById('video_consumer').style.display = 'block'" class="link">Assista o nosso vídeo institucional e saiba mais...</span>
          <br /><br />
          <iframe width="420" height="315" src="//www.youtube.com/embed/laQ1Kcc1Ca4?rel=0" frameborder="0" allowfullscreen style="display:none" id="video_consumer"></iframe>
          <br /><br />
        </div>
    </div>
  </div>
</div>