<div class="row">
  <div class="col-md-6">
    <%= form_for(@user) do |f| %>
      <%= render partial: "users/basicos", locals: {f: f} %>

      <%= f.submit 'Gravar', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>