<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou alteração de sua senha. Você pode fazer isso através do link abaixo</p>

<% if @resource.is_a?(ClienteUser) %>
  <p><%= link_to "Alterar minha Senha", edit_cliente_user_password_url(@resource, :reset_password_token => @token) %></p>
<% else %>
  <p><%= link_to "Alterar minha Senha", edit_user_password_url(@resource, :reset_password_token => @token) %></p>
<% end %>

<p>Se não foi você quem solicitou, ignore esse e-Mail.</p>