<p>Olá <strong><%= @pagamento.origem.nome %></strong>, </p>
<p>O pagamento de sua anuidade foi confirmado.</p>
<p>Parabéns por se tornar um consumidor inteligente ConsumerCard.</p>
<p>A partir de agora você poderá ganhar muitas vantagens através do Programa de Fidelidade ConsumerCard.</p>
<p>O seu cartão ConsumerCard será entregue no seu endereço em até 07 dias úteis, mas você já pode acumular bônus nas suas compras desde agora, basta informar o número do seu CPF no momento da compra.</p>