<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-family: Arial, Helvetica, sans-serif">

    <%= yield %>

    <br><br>
    <small>Este e-mail foi gerado automaticamente, favor não responder.</small>
  </body>
</html>